[core]
	editor = vim
	autocrlf = input
	filemode = false
[user]
	name = Christopher Bocardo
	email = ccb012100@users.noreply.github.com
	signingkey = 93722A3AD155A73F
[pull]
	ff = only
	rebase = false
[fetch]
	prune = false
[rebase]
	autoStash = false
[alias]
	acm = ! git add -A && git commit -m
	alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
	amend = commit -a --amend
	cm = commit -m
	a = add
	b = branch
	br = branch --remote
	cb = checkout -B
	co = checkout
	d = diff
	l = log --pretty='format:%C(yellow)%h %C(magenta)%as %C(blue)%aL %C(cyan)%s%C(reset)'
	main = checkout main
	master = checkout master
	pub = !git push --set-upstream origin $(git rev-parse --abbrev-ref HEAD)
	ruo = remote update origin --prune
	s = status
	undo = reset HEAD~1 --mixed
[commit]
	gpgsign = true
[gpg]
	program = C:/Program Files/Git/usr/bin/gpg.exe
[url "https://github.com/"]
    insteadOf = gh:
[merge]
  tool = meld
[mergetool "meld"]
  cmd = \"C:\\Program Files (x86)\\Meld\\Meld.exe\" "$LOCAL" "$BASE" "$REMOTE" "--output=$MERGED"  
  path = C:/Program Files (x86)/Meld/Meld.exe
  trustExitCode = false  
  keepBackup = false
[diff]
  tool = meld
[difftool "meld"]
  cmd = \"C:\\Program Files (x86)\\Meld\\Meld.exe\" "$LOCAL" "$REMOTE"
  path = C:/Program Files (x86)/Meld/Meld.exe
