[core]
    editor = vim
    autocrlf = true
    filemode = false
	attributesfile = ~/.config/git/attributes
[pull]
    ff = only
    rebase = false
[fetch]
	prune = true
[rebase]
    autoStash = false
[alias]
    acm = ! git add -A && git commit -m
    alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
    amend = commit -a --amend
    a = add
    ai = add --interactive
    b = branch
    br = branch --remote
    c = commit
    cb = checkout -B
    cm = commit -m
    co = checkout
    cp = cherry-pick
    d = diff
    diff = diff --color-moved
    develop = checkout develop
    ds = diff --staged
    fetchall = fetch --all --prune
    fp = push --force
    l = log --pretty='format:%C(yellow)%h %C(magenta)%as %C(blue)%aL %C(cyan)%s%C(reset)'
    main = checkout main
    master = checkout master
    mt = mergetool
    pf = push --force
    pl = pull
    prune = remote update origin --prune
    ps = push
    pub = !git push --set-upstream origin $(git rev-parse --abbrev-ref HEAD)
    r = rebase
    ra = rebase --abort
    rc = rebase --continue
    ri = rebase --interactive
    ruo = remote update origin --prune
    s = status
    # get url of current repository
    url = !git remote -v | grep fetch | awk '{print $2}' | sed 's|git@|https://|' | sed 's|com:|com/|' | sed 's|org:|org/|'| head -n1
[url "https://github.com/"]
    insteadOf = gh:
[diff]
        tool = kdiff3
[difftool "kdiff3"]
        path = "C:/Program Files/KDiff3/bin/kdiff3.exe"
[difftool]
        prompt = false
        keepBackup = false
        trustExitCode = false
[merge]
        tool = kdiff3
[mergetool]
        prompt = false
        keepBackup = false
        keepTemporaries = false
[mergetool "kdiff3"]
        path = "C:/Program Files/KDiff3/bin/kdiff3.exe"
[includeIf "gitdir:~/ccb012100/"]
    # set all repos in ~/ccb012100 to use personal username/email
    path = ~/ccb012100/.gitconfig
[includeIf "gitdir:~/repos/"]
    # set all repos in ~/repos to use work username/email
    path = ~/repos/.gitconfig
[help]
	autoCorrect = prompt
