[core]
    editor = vim
    autocrlf = true
    filemode = false
[pull]
    ff = only
    rebase = false
[fetch]
	prune = true
[rebase]
    autoStash = false
[alias]
    acm = ! git add -A && git commit -m
    alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
    amend = commit -a --amend
    a = add
    ai = add --interactive
    b = branch
    br = branch --remote
    c = commit
    cb = checkout -B
    cm = commit -m
    co = checkout
    d = diff
    develop = checkout develop
    ds = diff --staged
    fp = push --force
    l = log --pretty='format:%C(yellow)%h %C(magenta)%as %C(blue)%aL %C(cyan)%s%C(reset)'
    main = checkout main
    master = checkout master
    pf = push --force
    pl = pull
    ps = push
    pub = !git push --set-upstream origin $(git rev-parse --abbrev-ref HEAD)
    r = rebase
    ri = rebase --interactive
    ruo = remote update origin --prune
    s = status
    undo = reset HEAD~1 --mixed
[url "https://github.com/"]
    insteadOf = gh:
[diff]
	tool = vscode
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[merge]
  tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED
[difftool]
    prompt = false
[includeIf "gitdir:~/ccb012100/"]
    # set all repos in ~/ccb012100 to use personal username/email
    path = ~/ccb012100/.gitconfig
[includeIf "gitdir:~/repos/"]
    # set all repos in ~/repos to use work username/email
    path = ~/repos/.gitconfig
[help]
	autoCorrect = prompt
