[include]
    path = .config/git/git.gitconfig
    path = .config/git/aliases.gitconfig
    path = .config/git/tools.gitconfig
[includeIf "gitdir:~/src/"]
    path = .config/git/personal.gitconfig
[includeIf "gitdir:~/.dotfiles/"]
    path = .config/git/personal.gitconfig
[includeIf "gitdir:~/.config/ahk/"]
    path = .config/git/personal.gitconfig
[includeIf "gitdir:~/work/"]
    path = .config/git/work.gitconfig
